{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/cities.css' %}">
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-6">
    <div class="city-container">
      <h1>Cities</h1>
      <button class="cities-btn">
        <img src="https://picsum.photos/200" class="card-img" alt="Placeholder image">
        <h3 class="card-title">
          London
        </h3>
      </button>
    </div>
  </div>
  <div class="col-6">
    <div class="post-container">
      <div class="post-header">
        <div class="city-title">
          <h3>London</h3>
          <h5>United Kingdom</h3>
        </div>
        <img class="city-img" src="https://picsum.photos/200" alt="city">
      </div>
      <div>
        <div class="post-subheader">
          <h3>Posts</h3>
          <button class="post-button">+</button>
        </div>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://picsum.photos/200" class="post-img" alt="Placeholder image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="post-title">
                  <a href="">
                    placeholder text
                  </a>
                </h5>
                <p class="post-text">placeholder text</p>
                <a href="" class="post-link">View Post</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}