{% extends 'base.html' %}
{% block content %}
<!-- Start Hero Carousel -->
<section class="hero is-medium has-carousel">
    <div id="carousel-demo" class="hero-carousel">
        <div class="item-1">
            <!-- Slide Content -->
            <img src="https://picsum.photos/1600" alt="Placeholder image">
        </div>
        <div class="item-2">
            <!-- Slide Content -->
            <img src="https://picsum.photos/1600" alt="Placeholder image">
        </div>
        <div class="item-3">
            <!-- Slide Content -->
            <img src="https://picsum.photos/1600" alt="Placeholder image">
        </div>
    </div>
    <div class="hero-head"></div>
    <div class="hero-body"></div>
    <div class="hero-foot"></div>
</section>
<!-- End Hero Carousel -->

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1
    });
</script>
{% endblock %}
