{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}


{% block content %}
<section class="section">
  <div class="profile-container">
    <div class="container">
    {% comment %} <div class="row"> {% endcomment %}
      {% comment %} <div class="col" style="width=100vw"> {% endcomment %}
        <h1 class="title">Edit Profile</h1>
        <div class="profile">
          <div>
          <form method="POST" enctype="multipart/form-data">
            <img id="profile-picture" class="img-fluid" src="{{ user.profile.img.url }}">
            <br>
            {{profile_form.img}}
          </div>
          <div class="profile-body">
            <p class="name">Username: {{user.username}}</p>
              <hr>
              {% csrf_token %}
              <label>First Name</label>
              <input class="form-control" id="{{ field.id_for_label }}" maxlength="150" name="{{ user_form.first_name.html_name }}" value="{{user.first_name}}"/> 
              <label>Last Name</label>
              <input class="form-control" id="{{ field.id_for_label }}" maxlength="150" name="{{ user_form.last_name.html_name }}" value="{{user.last_name}}"/> 
              <label>City</label>
              <input class="form-control" id="{{ field.id_for_label }}" maxlength="150" name="{{ profile_form.city.html_name }}" value="{{user.profile.city}}"/> 
              <hr>
              <a class="btn btn-info" href="{% url 'profile' user.id %}">Cancel</a>
              <button class="btn btn-primary"type="submit">Save</button>
            </form>
          </div>
          </div>
        </div>
      {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    </div>
    <div class="container">
    <div class="row">
      <div class="col">
        <div class="posts">
          <h2 class="subtitle">
            {{user.username}}'s Posts
          </h2>
        </div>
        <!-- Card Post -->
        {% if not posts  %}
        <div class="row">    
          <div class="col">
            <p>Posts are not available in this mode.</p>
          </div>
        </div>
        {% else %}
        {% for post in posts %}
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-2">
                <img src="{{ post.img.url }}" class="card-img" alt="Placeholder image">
              </div>
              <div class="col-md-8" style="width: 100%">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{% url 'post' post.id %}">
                      {{ post.title }}
                    </a>
                  </h5>
                  <p class="card-text">{{ post.body }}</p>
                  <a href="{% url 'post' post.id %}" class="card-link">View Post</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


