@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    height: 95%;
}
    
.f-container{
    background-image: url('../images/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
    height: 100vh;
    width: 100vw;
    align-content: center;
}
    
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    overflow: hidden;
}
    
.card-header h3{
    color: white;
}

.group-container {
    margin-left: 0px;
    width: 800px;
    display: flex;
    transition: margin-left 2s;;
}
.group-container.signup {
    margin-left: -400px;
}

.login-group, .signup-group {
    width: 400px;
}    

.input-group-prepend span{
    width: 35px;
    background-color: red;
    color: black;
    border:0 !important;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
}
    
.login_btn{
    color: black;
    background-color: red;
    width: 100px;
    margin-top: 10px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}
    
.links{
    color: white;
    margin-top: 30px;
    margin-left: -100px;
}
    
.links span{
    margin-left: 4px;
    color: blue;
}
.links span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.picture {
    height: 1000px;
}