body {
  background: radial-gradient(circle at 100px 100px, rgb(247, 197, 103), rgb(205, 119, 199));
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  padding: 16px;
  border: 1px solid #000000;
  max-width: 520px;
  width: 100%%;
  background-color: #ffffff;
  border-radius: 8px;
}

form p:nth-child(2){
  color: blue;
}

.btn-primary {
  background-color: #9a031e;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #fb8b24;
  border-color: transparent;
}

.btn-primary:active{
    background-color: #FB8B24;
    border-color: transparent;
}

.btn-primary:focus{
    background-color: #FB8B24;
    border-color: transparent;
}