body {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-container {
  margin: 0 auto;
  width: 100%;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;  
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
}

/* ----------- Profile Section --------------*/

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.profile-body{
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

#profile-picture {
  margin-bottom: 16px;
  height: 160px;
}

/* ----------- Post Section --------------*/

.post-container {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  height: 300px; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* @media only screen and (min-width: 992px) { */
 .card-img {
    max-width: 200px;
    max-height: 150px;
    object-fit: contain;
  }
  
  .card-text {
    height: 45px;
    overflow: hidden;
    /* text-align: justify; */
  }

  .card {
    height: 150px;
  }
/* } */