:root {
  --primary: #9a031e;
}

.logo {
  height: 45px;
  padding-top: 9px;
}

.btn-primary {
  background-color: #9a031e;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #fb8b24;
  border-color: transparent;
}

.btn-primary:active {
  background-color: #fb8b24;
  border-color: transparent;
}

.btn-primary:focus {
  background-color: #fb8b24;
  border-color: transparent;
}

/* ----------- Navigation Section --------------*/

nav.navbar {
  flex: auto;
}

.mr-auto {
  left: auto !important;
  right: 0px;
}

.btn a {
  color: #ffffff;
  text-decoration: none;
}

/* ----------- Home Section --------------*/
