{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">{{post.title}}</h1>
            
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{{ post.img.url }}" alt="">
            
            <hr>
            
            <!-- Author -->
            <div class="lead">
              by
              <a href="profile">{{post.user.first_name}} {{post.user.last_name}}</a> in {{post.city.name}}
              <br>
              <!-- Date/Time -->
              Posted on {{post.created_at}}
            </div>

            <hr>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post Content -->
            <p>{{post.body}}</p>
        </div>
    </div>
</div>
{% endblock %}